
$background: red;
$max-width: 1000px;

//margin
$mg1: 10px;
$mg2: 20px;
$mg3: 30px;
$mg4: 40px;
$mg5: 50px;
$mg6: 60px;
$mg7: 70px;

//colors
$none : transparent;
$sft-red: hsl(0, 94%, 66%);
$sft-blue: hsl(231, 69%, 60%);
$gray-blue: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);

//mobile
$mob-width: 600px;